body {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}
#sec-causes {
  scroll-margin-top: 50px; /* ajusta el valor */
}
#sec-levels {
  scroll-margin-top: 80px; /* ajusta el valor */
}
#sec-signs {
  scroll-margin-top: 80px; /* ajusta el valor */
}
#sec-girls {
    scroll-margin-top: 80px;
}
#sec-conditions {
    scroll-margin-top: 80px;
}
